// 主题色
$primaryColor: #3B90D0;

// 深绿色
$darkGreenColor: rgb(28, 51, 53);

// 深绿色点击
$darkGreenColorHover: rgb(8, 29, 30);

// 圆角值
$borderRadius: 4px;

// 标题字号
$titleFontSize: 20px;

// 标题字号大
$titleFontSizeBig: 25px;

// 内容字号
$contentFontSize: 16px;

// 内容字号中
$contentFontSizeMedium: 14px;

// 内容字号小
$contentFontSizeSmall: 12px;

