.djxzHeader_page {
    position: relative;
    border-bottom: 2px solid pink;

    header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 120px;
        height: 35px;
        background: rgb(40, 44, 52);

        a {
            font-size: 14px;
            color: #fff;
            line-height: 35px;
        }

        .r {
            position: absolute;
            right: 120px;
            display: flex;
            align-items: center;

            ul li {
                float: left;
                margin-left: 10px;
            }
        }
    }

    .middle {
        display: flex;
        padding: 0 120px 10px; 
        background: #fff;

        .logoTitle {
            display: flex;
            align-items: center;
            height: 100px;
            cursor: pointer;

            img {
                width: 100px;
                height: 100px;
                background: #ebebeb;
            }

            h3 {
                font-size: 60px;
            }
        }

        .search {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: 138px;
            width: 570px;
            height: 100px;

            input {
                margin-top: 35px;
                padding: 0 15px;
                width: 536px;
                height: 38px;
                border-radius: 38px;
                border: 2px solid pink;
            }

            ul li {
                float: left;
                margin-right: 10px;

                a {
                    font-size: 14px;
                    color: #333;
                }
            }
        }
        .search::after {
            content: '🔍';
            position: absolute;
            right: 14px;
            top: 45px;
        }
    }

    .nav {
        margin-left: 450px;
        height: 40px;

        ul li {
            float: left;
            margin-right: 60px;

            a {
                font-size: 20px;
                font-weight: 500;
                color: #333;
            }

            a:hover {
                color: pink;
            }
        }

        ul li:first-child a {
            color: pink;
        }
    }

    .game_type {
        position: absolute;
        left: 120px;
        top: 150px;
        width: 224px;        
        background: rgb(19, 52, 54);
        cursor: pointer;

        .game_type_child {
            position: relative;
            display: flex;            
            flex-direction: column;

            p {
                position: relative;
                padding: 0 20px;
                height: 36px;
                line-height: 36px;
                text-align: left;
                color: #fff;
                user-select: none;
            }
            p::after {
                content: '🏷️';
                position: absolute;
                right: 20px;
            }
    
            .game_type_child_list {
                ul li {
                    padding: 0 27px;
                    height: 26.4px;
                    line-height: 26.4px;
                    text-align: left;
                    border-top: 1px solid rgb(49, 77, 78);

                    a {
                        color: #fff;
                        font-size: 14px;
                    }
                    a::after {
                        content: '➡️';
                        position: absolute;
                        right: 20px;
                    }
                }
                ul li:hover {
                    background: rgb(8, 29, 30);
                }
            }
        }
    }
}