@import '../../common/common.scss';

.djxzHeader_page {
    position: relative;
    border-bottom: 1px solid $primaryColor;

    .qrCode {
        position: absolute;
        top: 35px;
        right: -30px;
        display: none;
        width: 110px;
        height: 115px;
        border-radius: $borderRadius;
        background: $darkGreenColor;
        opacity: 0;
        transition: all 1s;
        z-index: 1;

        .contain {
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            transition: all 1s;

            img {
                margin-top: 8px;
                width: 80px;
                height: 80px;           
                object-fit: contain;
            }

            p {
                margin-top: -6px;
                font-size: $contentFontSizeSmall;
                color: #fff;
            }

            .triangle {
                position: absolute;
                top: -6px;
                width: 12px;
                height: 12px;
                transform: rotate(45deg);
                background: $darkGreenColor;
            }
        }
    }
    @keyframes onShow {
        0% {
            opacity: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            height: 115px;
        }
    }

    header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 120px;
        height: 35px;
        background: rgb(40, 44, 52);

        a {            
            position: relative;
            font-size: $contentFontSizeSmall;
            color: rgb(200, 200, 200);
            line-height: 35px;
        }
        a:hover {
            color: #fff;
        }

        .r ul li:first-child:hover .qrCode {
            display: block;
            animation: onShow .3s forwards;
        }
        .r ul li:first-child:hover .qrCode .contain {
            animation: onShow .6s forwards;
        }
        .r {
            position: absolute;
            right: 120px;
            display: flex;
            align-items: center;

            ul li {
                float: left;
                padding-right: 15px;
            }
            ul li::after {
                content: '|';
                line-height: 100%;
                margin-left: 15px;
                color: rgb(89, 89, 89);
            }
            ul li:last-child::after {
                content: '';
            }
        }
    }

    .middle {
        display: flex;
        padding: 0 120px 10px; 
        background: #fff;

        .logoTitle {
            display: flex;
            align-items: center;
            height: 100px;
            cursor: pointer;

            img {
                width: 290px;
            }

            h3 {
                font-size: 60px;
            }
        }

        .search {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: 138px;
            width: 570px;
            height: 100px;

            input {
                margin-top: 35px;
                padding: 0 15px;
                width: 536px;
                height: 38px;
                border-radius: 38px;
                border: 1px solid $primaryColor;
            }

            ul li {
                float: left;
                margin-right: 10px;

                a {
                    font-size: $contentFontSizeMedium;
                    color: #333;
                }
            }
        }
        .search::after {
            content: '';
            position: absolute;
            right: 14px;
            top: 45px;
            width: 18px;
            height: 18px;
            background: url('./static//Magnifier.png') no-repeat;
            background-size: contain;
        }
    }

    .nav {
        margin-left: 450px;
        height: 40px;

        ul li {
            float: left;
            margin-right: 60px;

            a {
                font-size: $titleFontSize;
                font-weight: 500;
                color: #333;
            }

            a:hover {
                color: $primaryColor;
            }
        }

        ul li:first-child a {
            color: $primaryColor;
        }
    }

    .game_type {
        position: absolute;
        left: 120px;
        top: 150px;
        width: 224px;        
        background: rgb(19, 52, 54);
        cursor: pointer;
        z-index: 1;

        .game_type_child {
            position: relative;
            display: flex;            
            flex-direction: column;

            p {
                position: relative;
                padding: 0 20px;
                height: 36px;
                line-height: 36px;
                text-align: left;
                color: #fff;
                font-weight: bold;
                user-select: none;
            }
            p::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                width: 18px;
                height: 18px;
                background: url('./static/Unordered_list.png') no-repeat;
                background-size: contain;
            }
    
            .game_type_child_list {
                ul li {
                    height: 50px;
                    line-height: 50px;
                    text-align: left;
                    border-top: 2px solid rgb(49, 77, 78);

                    a {
                        position: relative;
                        display: block;
                        padding: 0 27px;
                        color: #fff;
                        font-weight: bold;
                        font-size: $contentFontSizeMedium;
                    }
                }
                ul li:last-child a::after {
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 14px;
                    height: 14px;
                    background: url('../../common/static/Arrow-Signle-Right.png') no-repeat;
                    background-size: contain;
                }
                ul li:hover {
                    background: $darkGreenColorHover;
                } 
                ul li:last-child a:hover .more {
                    display: block;
                    animation: onShowMore .6s forwards;
                }
            }

            .more {
                position: absolute;
                left: 100%;
                bottom: 0;
                display: none;
                width: 250px;
                height: 520px;
                border: 1px solid $darkGreenColorHover;
                border-left: 0;
                background: #fff;
                opacity: 0;
                transition: all 1s;

                ul li {                    
                    height: 50px;
                    line-height: 50px;
                    text-align: left;
                    border: 0;

                    a {
                        padding-left: 40px;
                        display: block;
                        font-size: $contentFontSizeSmall;
                        color: #333;
                        font-weight: 400;
                    }
                    a:hover {
                        color: $darkGreenColorHover;
                        background: #fff;
                    } 
                }
                ul li:first-child {
                    margin-top: 20px;
                }

                @keyframes onShowMore {
                    0% {
                        opacity: 0;
                        width: 0;
                    }
                    100% {
                        opacity: 1;
                        width: 250px;
                    }
                }
            }
        }
    }
}