.djxzHeader_page {
    header {
        position: relative;
        display: flex;
        align-items: center;
        height: 35px;
        background: rgb(40, 44, 52);

        a {
            color: #fff;
            line-height: 35px;
        }

        .l {
            
        }

        .r {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;

            ul li {
                float: left;
                margin-right: 10px;
            }
        }
    }

    .c {
        display: flex;
        height: 150px;
        background: #fff;

        .logoTitle {
            display: flex;
            align-items: center;
            height: 100px;
            
            img { 
                height: 100%;
            }
    
            h3 {
                font-size: 60px;
            }
        }

    }

    background: pink;
}