.djxzFooter_page {
    position: relative;
    height: 135px;
    padding: 15px 0;
    border-top: 2px solid pink;

    .t {
        padding-left: 200px;
        display: flex;
        height: 30px;
        
        ul li {
            float: left;
            margin-right: 120px;

            a {
                font-size: 20px;
                font-weight: 500;
                color: #333;
            }

            a:hover {
                color: pink;
            }
        }
        ul li:first-child {
            margin-right: 160px;
        }
    }

    .b {
        position: absolute;
        bottom: 0;
        width: 100%;

        p {
            font-size: 16px;
        }
    }

    .m {
        margin-top: 20px;

        a {
            float: left;
            margin-left: 200px;
            font-size: 20px;
            color: #333;
        }
    }
}