@import '../../common/common.scss';

.djxzFooter_page {
    position: relative;
    height: 135px;
    padding: 15px 0;
    border-top: 1px solid $primaryColor;

    .t {
        padding-left: 200px;
        display: flex;
        height: 30px;
        
        ul {
            display: flex;
            flex: 1;

            li {
                float: left;
                margin-right: 120px;
    
                a {
                    font-size: $titleFontSize;
                    font-weight: 500;
                    color: #333;
                }
    
                a:hover {
                    color: $primaryColor;
                }
            }
            li:first-child {
                margin-right: 160px;
            }
        }
    }

    .b {
        position: absolute;
        bottom: 10px;
        width: 100%;

        p {
            font-size: $contentFontSize;
            color: #666;
        }
    }

    .m {
        margin-top: 20px;

        a {
            float: left;
            margin-left: 200px;
            font-size: $titleFontSize;
            color: #666;
        }
    }
}