@import '../common/common.scss';

.home_page {
    .main {
        .ad {
            position: relative;
            height: 520px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .mpCode {
                position: absolute;
                left: 516px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;

                img {
                    width: 258px;
                    height: 258px;
                }

                p {
                    margin-left: 50px;
                    font-size: 60px;
                    font-weight: bold;
                    line-height: 120px;
                    color: $darkGreenColor;
                }
            }
        }

        .recommend {
            position: relative;
            padding: 0 120px;
            display: flex;
            flex-direction: column;

            .recommend_title {
                position: relative;
                display: flex;
                align-items: center;
                height: 55px;
                border-bottom: 1px solid rgb(231, 231, 231);

                .l {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid $primaryColor;

                    img {
                        width: 25px;
                        height: 25px;
                    }
    
                    p {
                        margin-left: 5px;
                        line-height: 55px;
                        font-size: $titleFontSizeBig;
                        font-weight: 500;
                    }
                }

                a {
                    position: absolute;
                    right: 0;
                    line-height: 55px;
                    color: #333;
                }
            }

            .recommend_main {
                height: 315px;
                overflow: hidden;
                cursor: pointer;

                ul {
                    animation: move 200s linear infinite;
                    transition: all 1s;
                }
                ul:hover {
                    animation-play-state: paused;
                }
                ul li {
                    float: left;
                    margin-right: 30px;
                    margin-top: 10px;

                    img {
                        width: 360px;
                        height: 225px;
                        object-fit: cover;
                        background: #ebebeb;
                    }

                    p {
                        margin-top: 25px;
                        width: 360px;
                        font-size: $titleFontSize;
                        color: rgb(18, 51, 53);
                        text-align: left;
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;   
                        user-select: none;       
                    }

                    @keyframes move {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-85%);
                        }
                    }
                }
            }

            .information_main {
                position: relative;
                height: 360px;
                overflow: hidden;

                ul {
                    width: 1920px;
                    transition: all 1s;
                }

                @keyframes move {
                    0% {
                        transform: translateX(0);
                    }
                    100% {
                        transform: translateX(-36%);
                    }
                }
                @keyframes moveBack {
                    0% {
                        transform: translateX(-36%);
                    }
                    100% {
                        transform: translateX(0);
                    }
                }

                ul li {
                    float: left;
                    margin-right: 30px;
                    margin-top: 40px;
                    cursor: pointer;

                    img {
                        width: 450px;
                        height: 210px;
                        object-fit: cover;
                        border-radius: $borderRadius;
                    }

                    p {
                        margin-top: 15px;
                        width: 450px;
                        text-align: left;
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;   
                        color: rgb(18, 51, 53);
                        font-weight: bold;
                        font-size: $titleFontSize;
                    }
                    p:hover {
                        color: $primaryColor;
                    }
                    p:last-child {
                        margin-top: 20px;
                        color: rgb(129, 129, 129);
                        -webkit-line-clamp: 2;
                        font-size: $contentFontSize;
                        font-weight: 400;
                    }
                }

                .information_main_arrow {
                    position: absolute;
                    top: 175px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    color: #fff;
                    font-weight: bold;
                    background: rgba(0, 0, 0, 0.6);
                    opacity: 0;
                    transition: all 1s;
                    cursor: pointer;
                    z-index: 1;

                    img {
                        width: 14px;
                        height: 14px;
                    }
                }

                .information_main_before {
                    @extend .information_main_arrow;
                    left: 0;
                }
                .information_main_after {
                    @extend .information_main_arrow;
                    right: 0;
                }
                @keyframes onShowArrow {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
            .information_main:hover .information_main_before {
                animation: onShowArrow .3s forwards;
            }
            .information_main:hover .information_main_after {
                animation: onShowArrow .3s forwards;
            }
        }
        .recommend:nth-child(2) {
            margin-top: 20px;
        }
        .recommend:nth-child(3) {
            margin-top: 20px;
        }

        .want {
            padding: 30px 120px;
            height: 170px;

            .child {
                display: flex;
                height: 100%;
                background: $darkGreenColor;

                .l {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex: 1;                    

                    p {
                        font-size: 45px;
                        font-weight: bold;
                        color: rgb(92, 197, 172);
                    }

                    .en {
                        position: absolute;
                        top: 15px;
                        font-size: 30px;
                        color: #fff;
                        font-weight: 400;
                    }
                }

                .r {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    cursor: pointer;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 160px;
                        height: 50px;
                        border-radius: 4px;
                        font-size: $titleFontSize;
                        background: rgb(248, 206, 97);
                    }
                    div:hover {
                        color: rgb(93, 200, 176);
                        background: #fff;
                    }
                }
            }
        }


    }
}