@import '../common/common.scss';

.gameLibrary_page {
    .main {
        padding: 0 120px 120px;
        display: flex;

        .main_left {
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 520px;

            .main_left_type_list {
                ul {
                    width: 200px;
                }

                ul li {
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 2px dotted $borderColor;

                    a {
                        position: relative;
                        display: block;
                        padding: 0 27px;
                        color: $color333;
                        font-size: $contentFontSizeMedium;
                        text-align: left;
                    }

                    a:hover {
                        color: $primaryColor;
                    }
                }

                ul li:last-child a::after {
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 14px;
                    height: 14px;
                    background: url('./static/Arrow-Signle-Down.png') no-repeat;
                    background-size: contain;
                }

                .type_select_class {
                    color: $primaryColor;
                }
            }

            .more {
                ul li {
                    height: 30px;
                    line-height: 30px;
                    text-align: left;
                    border-bottom: 1px dotted $borderColor;
                    cursor: pointer;

                    a {
                        padding: 0 40px;
                        display: block;
                        font-size: $contentFontSizeSmall;
                        color: #333;
                        font-weight: 400;
                    }

                    a:hover {
                        color: $primaryColor;
                        background: #fff;
                    }
                }

                .type_select_class {
                    color: $primaryColor;
                }
            }            
        }

        .main_right {
            width: 1000px;
            display: flex;
            flex-direction: column;

            .location {
                margin-top: 15px;
                text-align: left;
                font-size: $contentFontSizeMedium;
                color: $colorGray;

                a {
                    color: $colorGray;
                }
            }

            .main_right_body {
                position: relative;
                display: flex;
                flex-direction: column;

                .section {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 55px;
                    border-bottom: 1px solid $borderColor;

                    .l {
                        border-bottom: 1px solid $primaryColor;
                        height: 100%;

                        p {
                            font-size: $titleFontSize;
                            font-weight: bold;
                            color: $darkGreenColor;
                            line-height: 55px;
                        }
                    }

                    input {
                        position: absolute;
                        right: 0;
                        padding: 0 28px 0 5px;
                        width: 203px;
                        height: 28px;
                        border: 1px solid $borderColor;
                    }
                    
                    .search_icon {
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 15px;
                        height: 15px;
                        background: url('./static/Magnifier.png') no-repeat;
                        background-size: contain;
                    }
                }

                .filter_bar {
                    margin-top: 8px;
                    height: 40px;
                    background: $backGrayColor;
                    border: 1px solid $borderColor;

                    .filter_bar_left {
                        float: left;
                        cursor: pointer;

                        div {
                            float: left;

                            p {
                                padding: 0 20px;
                                font-size: $contentFontSizeMedium;
                                line-height: 40px;
                                color: $colorGray;
                            }

                            .select_class {
                                color: $color333;
                                background: $backWhiteColor;
                                font-weight: bold;
                            }

                            .select_class::after {
                                content: '⬇';
                                color: $colorGray;
                            }

                            .select_class:hover::after {
                                content: '⬆';
                                color: #DE683A;
                            }
                        }
                    }

                    .filter_bar_right {
                        float: right;
                        padding: 0 20px;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        button {
                            color: $colorGray;
                            cursor: pointer;
                        }

                        p {
                            padding: 0 10px;
                            font-size: $contentFontSizeSmall;
                            color: $colorGray;
                        }
                    }
                }

                .recommend_main {
                    ul {
                        padding: 10px;
                        width: 1100px;
                    }
                    ul li {
                        float: left;
                        margin-right: 10px;
                        margin-bottom: 20px;
                        height: 280px;
                        cursor: pointer;

                        img {
                            width: 320px;
                            height: 185px;
                            object-fit: cover;
                            background: $backGrayColor;
                        }

                        p {
                            margin-top: 20px;
                            width: 320px;
                            height: 55px;
                            font-size: $titleFontSize;
                            color: rgb(18, 51, 53);
                            text-align: left;
                            text-overflow: -o-ellipsis-lastline;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}