.App {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  text-align: center;
}

p {
  padding: 0;
  margin: 0;
}

span {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: none;
}